@import "../../base.scss";

.card-square {
  position: relative;
  width: 50%;
  height: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  overflow: hidden;

  &:hover {
    img {
      transform: scale(1.2);
    }
    .price {
      opacity: 1;
    }
  }

  h1 {
    position: absolute;
    font-size: 2rem;
    color: white;
    font-weight: $bold;
    bottom: 5%;
  }
  img {
    object-fit: contain;
    transition: all 0.4s ease-in-out;
  }

  .price {
    position: absolute;
    left: 10%;
    top: 10%;
    opacity: 0;
    transition: all 0.4s ease-in-out;
    animation-delay: 0.2s;
  }
}

.blue {
  background-color: #c4fffb;
}
