@import "../../base.scss";

.round-icon {
  background-color: $primaryColor;
  color: white;
  border-radius: $circle-radius;
  display: flex;
  justify-content: center;
  align-items: center;
}

.lg {
  width: 5rem;
  height: 5rem;
}

.sm {
  width: 3rem;
  height: 3rem;
}
