$primaryColor: #ff5a5f;
$backgroundBase: #f7f7f7;
$textBlack: #484848;
$textGray: #767676;
$darkBackground: #f7f7f7;

$thin: 100;
$extra-light: 200;
$light: 300;
$regular: 400;
$medium: 500;
$semi-bold: 600;
$bold: 700;

$rounded: 1rem;
$circle-radius: 9999px;

@mixin respon($breakpoint) {
  @if $breakpoint == phone-pot {
    @media (min-width: 0px) and (max-width: 480px) {
      @content;
    }
  }

  @if $breakpoint == phone-land {
    @media (min-width: 481px) and (max-width: 767px) {
      @content;
    }
  }

  @if $breakpoint == tb-pot {
    @media (min-width: 768px) and (max-width: 1024px) {
      @content;
    }
  }

  @if $breakpoint == tb-land {
    @media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
      @content;
    }
  }
}
